.header {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 700;
  border-bottom: 1px solid rgb(19, 19, 19);
  padding: 6px;
  margin-bottom: 50px;
}

.link {
  font-weight: 500;
  font-size: 23px;
  line-height: 1.667;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.activeLink,
.link:hover,
.link:focus {
  color: #474747;
  outline: none;
}

.wrapper {
  display: flex;
  font-weight: 500;
  font-size: 23px;
  line-height: 1.667;
  color: rgb(0, 0, 0);
  text-decoration: none;
  justify-content: space-between;
}
