.form {
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: 450px;
  margin: 0 auto;
  align-items: center;
}

.label:not(:last-child) {
  margin-bottom: 15px;
}
.label {
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.btn:hover {
  box-shadow: 2px 2px 5px #aaaaaa;
}

.input {
  padding: 10px;
  font-size: 15px;
  border: 10px solid rgba 255, 255, 255, 0.5;

  border-radius: 10px;
  appearance: none;
  outline: none;
  margin-left: 5px;
  width: 300px;
  text-align: center;
}

.input:hover {
  box-shadow: 2px 2px 5px #aaaaaa;
}

.btn {
  font-size: large;
  text-decoration: none;
  display: inline-block;
  text-decoration: none;
  display: inline-block;
  padding: 10px 30px;
  margin: 5px;
  letter-spacing: 1px;
  border-radius: 15px;
  border: 2px solid rgba 255, 255, 255, 0.5;
  border-radius: 15px;
}
.btn:focus {
  background-color: rgb(125, 124, 148);
}
.btn:hover {
  /* font-weight: 700; */
  background-color: rgb(53, 53, 58);
  color: #fff;
}
